<!DOCTYPE html>
<html>
<head>
    <title>Acerca de</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h1 class="text-center">Acerca de</h1>
                        <a href="/" class="btn btn-primary btn-manual">Aplicativo</a>
                        <a href="/manual_usuario" class="btn btn-primary btn-manual">Manual de Usuario</a>
                    </div>
                    <div class="card-body">
                        <p>Esta aplicación fue desarrollada por:</p>
                        <ul>
                            <li>Roberto Jaraba</li>
                            <li>Juan Alvarez</li>
                            <li>Francisco Guerra</li>
                            <li>Yahir Figueroa</li>
                        </ul>
                        <p>Asignatura: Análisis Numérico</p>
                        <p>Universidad: Corporación Universitaria Antonio José de Sucre</p>
                        <p>Docente: Ing. Jaider De La Rosa</p>
                        <p>Recursos utilizados:</p>
                        <ul>
                            <li>Python: Un lenguaje de programación versátil y fácil de aprender.</li>
                            <li>Flask: Un framework web ligero y flexible para construir aplicaciones web en Python.</li>
                            <li>GitHub: Una plataforma de desarrollo colaborativo que permite alojar proyectos utilizando el control de versiones Git. Repositorio: <a href="https://github.com/tunombredeusuario/tunombredeproyecto">https://github.com/tunombredeusuario/tunombredeproyecto</a></li>
                            <li>PythonAnywhere: Un servicio de hosting en la nube para aplicaciones web y tareas automatizadas en Python. Hosting: <a href="http://tunombredeusuario.pythonanywhere.com/">http://tunombredeusuario.pythonanywhere.com/</a></li>
                            <li>Visual Studio Code: Un editor de código fuente altamente configurable y extensible desarrollado por Microsoft.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>