<!DOCTYPE html>
<html>
<head>
    <title>Manual de Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h1 class="text-center">Manual de Usuario</h1>
                        <a href="/" class="btn btn-primary btn-manual">Aplicativo</a>
                        <a href="/acerca" class="btn btn-primary btn-manual">Acerca de</a>
                    </div>

                    <div class="card-body">
                        <h2>Uso de la aplicación</h2>
                        <p>Para utilizar la aplicación, sigue los siguientes pasos:</p>
                        <ol>
                            <li>Ingresa a la aplicación en línea en el siguiente enlace: <a href="http://tottodesarollado1998.pythonanywhere.com/">Aplicativo</a>.</li>
                            <li>En el campo "Fórmula", ingresa la ecuación que deseas resolver. Por ejemplo, puedes utilizar la siguiente fórmula como ejemplo: <code>(x^2 - 4)</code>.</li>
                            <li>En el campo "Valor inicial (x0)", ingresa un valor numérico como punto de partida para el método. Por ejemplo, puedes utilizar <code>x0 = 2</code> como ejemplo.</li>
                            <li>En el campo "Tolerancia", ingresa un valor numérico que determinará la precisión deseada para la aproximación. Por ejemplo, puedes utilizar <code>tolerance = 0.001</code> como ejemplo.</li>
                            <li>En el campo "Máximo de iteraciones", ingresa un número entero que establecerá el límite máximo de iteraciones permitidas. Por ejemplo, puedes utilizar <code>maxIterations = 100</code> como ejemplo.</li>
                            <li>Haz clic en el botón "Calcular".</li>
                            <li>Los resultados se mostrarán en la misma página. La sección "Resultados" incluirá el número de iteraciones, la aproximación obtenida y el valor de la función en la aproximación.</li>
                            <li>Se generará una gráfica que muestra la evolución del método.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>