<!DOCTYPE html>
<html>
<head>
    <title>Manual de Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h1 class="text-center">Manual de Usuario</h1>
                        <a href="/" class="btn btn-primary btn-manual">Aplicativo</a>
                    </div>
                    <div class="card-body">
                        <h2>Instalación</h2>
                        <p>Para utilizar la aplicación, sigue los siguientes pasos:</p>
                        <ol>
                            <li>Instala Python en tu sistema si aún no lo has hecho.</li>
                            <li>Instala las dependencias necesarias ejecutando el siguiente comando en tu terminal:</li>
                            <pre><code>pip install flask</code></pre>
                            <li>Descarga el código fuente de la aplicación.</li>
                            <li>Accede a la carpeta donde se encuentra el código fuente desde la terminal.</li>
                            <li>Ejecuta el siguiente comando para iniciar la aplicación:</li>
                            <pre><code>python app.py</code></pre>
                            <li>La aplicación estará disponible en la dirección <code>http://localhost:5000</code>.</li>
                        </ol>

                        <h2>Uso de la aplicación</h2>
                        <p>Una vez que la aplicación esté en funcionamiento, sigue estos pasos para utilizarla:</p>
                        <ol>
                            <li>Abre tu navegador web y accede a la dirección <code>http://localhost:5000</code>.</li>
                            <li>Ingresa la fórmula de la ecuación que deseas resolver.</li>
                            <li>Ingresa el valor inicial, la tolerancia y el número máximo de iteraciones.</li>
                            <li>Haz clic en el botón "Calcular".</li>
                            <li>Los resultados se mostrarán en la misma página, incluyendo el número de iteraciones, la aproximación obtenida y el valor de la función en la aproximación.</li>
                            <li>Se generará una gráfica que muestra la evolución del método.</li>
                        </ol>

                        <h2>Acerca de</h2>
                        <p>Esta aplicación fue desarrollada por:</p>
                        <ul>
                            <li>Roberto Jaraba</li>
                            <li>Juan Alvarez</li>
                            <li>Francisco Guerra</li>
                            <li>Yahir Figueroa</li>
                        </ul>
                        <p>Asignatura: Análisis Numérico</p>
                        <p>Universidad: Corporación Universitaria Antonio José de Sucre</p>
                        <p>Docente: Ing. Jaider De La Rosa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
